.flex {
    display: flex;
    
    &--column {
        flex-direction: column;
    }

    &--justify-center {
        justify-content: center;
    }

    &--justify-left {
        justify-content: flex-start;
    }

    &--align-item-center {
        align-items: center;
    }

    &--align-item-left {
        align-items: flex-start;
    }

    &--wrap {
        flex-wrap: wrap;
    }
}